// Commonly used in all projects should be a core element added to every css page top
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  box-sizing: inherit;
}

html,body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  margin:0;
  padding:0;
 
  @include breakpoint(tablet){ 
    padding:0; 
  } 
}

body { 
  margin-bottom:54px; 
  @include breakpoint(laptop){
    margin-bottom: unset; 
  }
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.hidden { 
  display:none;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

// Aggressive padding override for entire site
body, html, .wrapper, .container, main, .main-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

// Force all grid elements to have no padding
[class*="grid-column"], [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

// Target Bootstrap container classes specifically
.container-sm, .container-md, .container-lg, .container-xl, .container-xxl, .container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

// Force masthead to full width
.wvu-masthead, .wvu-masthead__container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  max-width: 100% !important;
  width: 100% !important;
}

// Add minimal content padding only where needed for readability
.database-content, .main-content-inner, article, .content-area {
  padding-left: 20px !important;
  padding-right: 20px !important;
}


