// Commonly used in all projects should be a core element added to every css page top
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  box-sizing: inherit;
}

html,body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  margin:0;
  padding:0;
 
  @include media-breakpoint-up(md) { 
    // tablet styles
  } 
}

body { 
  margin-bottom:54px; 
  @include media-breakpoint-up(xl){
    margin-bottom: unset; 
  }
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.hidden { 
  display:none;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

// Common Bootstrap breakpoints:
// sm: 576px
// md: 768px  (tablet)
// lg: 992px
// xl: 1200px
// xxl: 1400px

// Add these styles to remove space between sections
.app-header {
  margin-bottom: 0 !important; // Remove bottom margin
}

.wvu-masthead {
  margin-bottom: 0 !important; // Remove bottom margin
}

nav {
  margin-top: 0 !important; // Remove top margin
}


