version: '3.1'

services:
  rails: 
    build: 
      context: ./
      dockerfile: Dockerfile.ci
    tty: true
    stdin_open: true
    container_name: databases_app
    env_file:
      - './env/.env.dev.rails'     
    ports:
      - "3000:3000" 
    links:
      - db
      - elasticsearch
    networks:
      - databases 

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.16.2
    container_name: elasticsearch
    environment:
      cluster.name: group-project-test-cluster
      xpack.security.enabled: false
      transport.host: localhost
      network.host: localhost
      http.port: 9200
      discovery.type: single-node  
    volumes: 
      - search_data:/usr/share/elasticsearch/data
    networks:
      - databases

  db:
    image: mysql:5.7.27
    container_name: db
    restart: always
    ports:
      - "3310"
    environment:
      - MYSQL_ROOT_HOST=%
      - MYSQL_ROOT_PASSWORD=circleci    
    volumes:
      - mysql:/var/lib/mysql
    networks:
    - databases  
  kibana:
    image: kibana:6.6.0
    container_name: kibana
    env_file:
      - './env/.env.dev.kibana'       
    ports:
      - 5601:5601
    links: 
      - elasticsearch    
    networks:
      - databases      

volumes:
  mysql:
  search_data:

networks:
  databases:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: br-databases