version: '3.1'

services:

  elasticsearch:
    image: elasticsearch:7.16.2
    container_name: elasticsearch
    restart: always
    environment:
      - "discovery.type=single-node"
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m -Dlog4j2.formatMsgNoLookups=true" 
    # env_file:
    #   - './env/.env.dev.es'    
    
    volumes: 
      - ./search_data:/usr/share/elasticsearch/data
    ports: 
      - "9200"
   
  db:
    image: mysql:5.7.27
    container_name: databases_mysql
    restart: always
    ports:
      - "3310"
    env_file:
      - './env/.env.dev.db'      
    volumes:
      - ./mysql:/var/lib/mysql
      - ./mysql-files:/var/lib/mysql-files
  
  rails: 
    build: 
      context: ./
      dockerfile: Dockerfile
    tty: true
    stdin_open: true
    container_name: databases_app
    env_file:
      - './env/.env.dev.rails'      
    volumes:
      - ./:/home/databases
    ports:
      - "3000:3000" 
    links:
      - db
      - elasticsearch
  
  kibana:
    image: kibana:6.6.0
    container_name: kibana
    env_file:
      - './env/.env.dev.kibana'       
    ports:
      - 5601:5601
    links: 
      - elasticsearch