version: '3.1'

services:

  elasticsearch:
    image: elasticsearch:8.14.3
    container_name: elasticsearch
    restart: always
    env_file:
      - './env/.env.prod.es'     
    volumes: 
      - ./data/search_data:/usr/share/elasticsearch/data
    ports: 
      - "9200"
   
  db:
    image: mysql:8
    ulimits:
      nofile: # Fix memory leak issue on some systems when LimitCORE=infinity (containerd)
        soft: 1048576
        hard: 1048576
    container_name: databases_mysql
    restart: always
    ports:
      - "3310"
    env_file:
      - './env/.env.prod.db'  
    volumes:
      - ./data/mysql:/var/lib/mysql
      - ./data/mysql-files:/var/lib/mysql-files
  
  rails: 
    build: 
      context: ./
      dockerfile: Dockerfile
    tty: true
    stdin_open: true
    container_name: databases_app
    env_file:
      - './env/.env.prod.rails'       # env file for rails
    volumes:
      - ./:/home/databases
      - ./scripts:/home/databases/scripts
      # these directories are saved to the data directory 
      # they do not need comitted to git. This keeps
      # the image size down and the data persistent
      - ./data/node_modules:/home/databases/node_modules
      - ./data/log:/home/databases/log
      - ./data/coverage:/home/databases/coverage
      - ./data/public/assets:/home/databases/public/assets
      - ./data/public/uploads:/home/databases/public/uploads
      # don't mount tmp directory 
      - /home/databases/tmp      
    ports:
      - "3000:3000" 
    links:
      - db
      - elasticsearch
