version: '3.1'

services:

  elasticsearch:
    image: elasticsearch:7.17.10 
    container_name: elasticsearch
    restart: always
    env_file:
      - './env/.env.dev.es'    
    volumes: 
      - search_data:/usr/share/elasticsearch/data
    ports: 
      - "9200"
   
  db:
    image: mysql:8
    container_name: db
    restart: always
    ports:
      - "3310"
    env_file:
      - './env/.env.dev.db'      
    volumes:
      - mysql:/var/lib/mysql
      - ./data/mysql-files:/var/lib/mysql-files
  
  rails: 
    build: 
      context: ./
      dockerfile: Dockerfile
    tty: true
    stdin_open: true
    container_name: databases_app
    env_file:
      - './env/.env.dev.rails'      
    volumes:
      - ./databases:/home/databases
      - ./scripts:/home/databases/scripts
      # these directories are saved to the data directory 
      # they do not need comitted to git. This keeps
      # the image size down and the data persistent
      - ./data/node_modules:/home/databases/node_modules
      - ./data/log:/home/databases/log
      - ./data/coverage:/home/databases/coverage
      - ./data/public/assets:/home/databases/public/assets
      - ./data/public/uploads:/home/databases/public/uploads
      # don't mount tmp directory 
      - /home/databases/tmp        
    ports:
      - "3000:3000" 
    links:
      - db
      - elasticsearch
  
  kibana:
    image: kibana:6.6.0
    container_name: kibana
    env_file:
      - './env/.env.dev.kibana'       
    ports:
      - 5601:5601
    links: 
      - elasticsearch

volumes:
  mysql:
  search_data: