<nav>
  <ul>
    <li> <a href="/admin">Admin Home</a></li>
    <!-- Card View Lists -->
    <li class="title"> Filterable Database Lists </li> 
    <li> <a href="/admin/databases/"> All </a></li>
    <li> <a href="/admin/databases/list/production"> Public </a></li>
    <li> <a href="/admin/databases/list/development"> Development </a></li>
    <li> <a href="/admin/databases/list/hidden"> Hidden </a></li>
    <!-- Tabular View Lists -->
    <li class="title"> Database Table Lists </li> 
    <li> <a href="/admin/databases/tables/"> All </a></li>
    <li> <a href="/admin/databases/tables/production"> Public </a></li>
    <li> <a href="/admin/databases/tables/development"> Development </a></li>
    <li> <a href="/admin/databases/tables/hidden"> Hidden </a></li>
  </ul>
</nav>