// Commonly used in all projects should be a core element added to every css page top
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  margin:0;
  padding:0 1em;
  @include breakpoint(tablet){ 
    padding:0; 
  } 
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.hidden { 
  display:none;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}


