version: 2.1

jobs:
  build:
    docker:
      - image: cimg/ruby:3.3.4-browsers
    environment:
      RAILS_ENV: test
      RACK_ENV: test
      COVERAGE: true
      TZ: /usr/share/zoneinfo/America/NewYork
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.7
      - run:
          name: Install Docker Compose
          command: |
            curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
            chmod +x /usr/local/bin/docker-compose
      - run:
          name: Start Services
          command: docker-compose up -d
      - run:
          name: Wait for services to be ready
          command: |
            dockerize -wait tcp://127.0.0.1:3310 -timeout 1m
            dockerize -wait tcp://127.0.0.1:9200 -timeout 1m
            dockerize -wait tcp://127.0.0.1:5601 -timeout 1m
      - run:
          name: Install Yarn Dependencies
          command: yarn install --frozen-lockfile
      - run:
          name: Install Bundler
          command: |
            gem install bundler
            bundle install --jobs=4 --retry=3
      - run:
          name: Precompile assets
          command: bundle exec rake assets:precompile
      - run:
          name: Load DB schema
          command: bin/rails db:schema:load --trace
      - run:
          name: Run Tests
          command: bundle exec rspec
      - store_test_results:
          path: test_results

volumes:
  mysql:
  search_data:
