version: 2.1

jobs:
  build:
    docker:
      - image: cimg/base:2024.07
    environment:
      TZ: /usr/share/zoneinfo/America/New_York
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install Docker Compose
          command: |
            mkdir -p ~/bin
            curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m)" -o ~/bin/docker-compose
            chmod +x ~/bin/docker-compose
            echo 'export PATH=~/bin:$PATH' >> $BASH_ENV
            source $BASH_ENV
      - run:
          name: Install Dockerize if not present
          command: |
            if ! command -v dockerize &> /dev/null; then
              curl -sSL https://github.com/jwilder/dockerize/releases/download/v0.6.1/dockerize-linux-amd64-v0.6.1.tar.gz | tar -C /usr/local/bin -xzv
            fi
      - run:
          name: Start Services
          command: docker-compose -f docker-compose.ci.yml up -d
      # - run:
      #     name: Wait for MySQL
      #     command: dockerize -wait tcp://db:3306 -timeout 1m
      # - run:
      #     name: Wait for Elasticsearch
      #     command: dockerize -wait tcp://elasticsearch:9200 -timeout 1m
      # - run:
      #     name: Wait for Kibana
      #     command: dockerize -wait tcp://kibana:5601 -timeout 1m
      # - run:
      #     name: List Directory Contents
      #     command: docker exec databases_app ls -la /home/databases
      # - run:
      #     name: Install Yarn Dependencies
      #     command: docker exec databases_app yarn install --frozen-lockfile
      # - run:
      #     name: Install Bundler
      #     command: docker exec databases_app gem install bundler
      # - run:
      #     name: Install Ruby Dependencies
      #     command: docker exec databases_app bundle install --jobs=4 --retry=3
      # - run:
      #     name: Precompile assets
      #     command: docker exec databases_app bundle exec rake assets:precompile
      - run:
          name: Setup database
          command: |
              docker exec databases_app /home/databases/bin/rails db:create
              docker exec databases_app /home/databases/bin/rails db:schema:load
              docker exec databases_app /home/databases/bin/rails db:seed
      - run:
          name: Run Tests
          command: docker exec databases_app RAILS_ENV=test bundle exec rspec
      # - store_test_results:
      #     path: test_results



