version: 2.1

jobs:
  build:
    docker:
      - image: cimg/base:2024.07
    environment:
      TZ: /usr/share/zoneinfo/America/New_York
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install Docker Compose
          command: |
            mkdir -p ~/bin
            curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m)" -o ~/bin/docker-compose
            chmod +x ~/bin/docker-compose
            echo 'export PATH=~/bin:$PATH' >> $BASH_ENV
            source $BASH_ENV
      - run:
          name: Start Services
          command: docker-compose -f docker-compose.ci.yml up -d
      # - run:
      #     name: Wait for MySQL
      #     command: dockerize -wait tcp://db:3306 -timeout 3m
      # - run:
      #     name: Wait for Elasticsearch
      #     command: dockerize -wait tcp://127.0.0.1:9200 -timeout 3m
      # - run:
      #     name: Wait for Kibana
      #     command: dockerize -wait tcp://kibana:5601 -timeout 3m

      # - run:
      #     name: Install Yarn Dependencies
      #     command: docker exec databases_app yarn install --frozen-lockfile
      # - run:
      #     name: Install Bundler
      #     command: docker exec databases_app gem install bundler
      # - run:
      #     name: Install Ruby Dependencies
      #     command: |
      #       docker exec databases_app bundle check
      #       docker exec databases_app bundle install --deployment --jobs=4 --retry=3
      - run:
          name: Install Turbolinks
          command: docker exec databases_app gem install turbolinks
      - run:
          name: Install Burbon
          command: docker exec databases_app gem install bourbon
      - run:
          name: Install Neat
          command: docker exec databases_app gem install neat
      - run:
          name: Precompile assets
          command: docker exec databases_app bundle exec rake assets:precompile
      - run:
          name: Configure secrets.yml
          command: docker exec databases_app mv config/secrets.ci.yml config/secrets.yml
      - run:
          name: Configure database.yml
          command: docker exec databases_app mv config/database.ci.yml config/database.yml
      - run:
          name: Configure application.yml
          command: docker exec databases_app mv config/application.ci.yml config/application.yml
      - run:
          name: Install Code Climate Test Reporter
          command: |
            docker exec databases_app curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            docker exec databases_app chmod +x ./cc-test-reporter   
      - run:
          name: Setup database
          command: |
              docker exec databases_app /home/databases/bin/rails db:create
              docker exec databases_app /home/databases/bin/rails db:schema:load
              docker exec databases_app /home/databases/bin/rails db:seed
      - run:
          name: Run Tests
          command: docker exec databases_app RAILS_ENV=test bundle exec rspec
      # - store_test_results:
      #     path: test_results
