@import "bootstrap";

$neat-grid: (
  columns: 12,
  gutter: 1em 
);

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  clear: left;
  @extend .container-fluid;
}

.container {
  margin: 0 auto;
  @extend .container;
}

main, header, footer, div {
  @extend .row;
}

// Add column classes as needed:
.col {
  @extend .col-md-12;
}