$flying-wv-w-signature: 'https://patterns.wvu.edu/images/flying-wv-w-signature.png' !default;
$flying-wv-w-signature-gold-bg: 'https://patterns.wvu.edu/images/flying-wv-w-signature-gold-bg.png' !default;
$flying-wv-w-signature-white-bg: 'https://patterns.wvu.edu/images/flying-wv-w-signature-white-bg.png' !default;
$flying-wv-w-sub-brand: 'https://patterns.wvu.edu/images/flying-wv-w-signature.png' !default;

// WVU Masthead styling
.wvu-masthead { 
  background-color: $wvu-blue;
  color: #fff;  

  .wvu-masthead__container { 
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .wvu-masthead__logo { 
    background: url($flying-wv-w-signature) no-repeat left 30% transparent;
    width: 100%;
    float: left;
    padding-left: 0;
    padding-right: 15px;
    text-align: center;
    background-position: center 30%; 
    background-size: 300px auto; 
    position: relative; 
    
    @include breakpoint(tablet){ 
      width: 50%;
      background-position: left 30%;
      text-align: left;
    }

    @include breakpoint(desktop){
      width: 33.333%;
    }
  }

  .wvu-masthead__university-name{
    position: absolute;
    left: -99999em;
  }

  .wvu-masthead__title {
    display: inline-block;
    position: relative;
    padding-top: 50px; 
    font-size: 1.2em;
    left: -2.4em;
    text-transform: uppercase;
    color: #fff;

    @include breakpoint(tablet){ 
      left: 3em; 
    }
  }
}

// Header list styling - this is the key part for the 2-column layout
.wvu-header-list {
  width: 100%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;

  @include breakpoint(tablet){
    width: 50%;
    text-align: right;
  }

  @include breakpoint(desktop){
    width: 66.667%;
  }

  ul { 
    width: auto;
    margin-top: 1em;
    list-style: none; 
    padding: 0;

    @include breakpoint(tablet){
      float: right;
    }
  } 

  li { 
    display: block; // Default to block for mobile
    
    @include breakpoint(tablet){ 
      display: inline-block; 
      width: auto;
      float: left;
      margin-left: 10px;
    }
  }
  
  li a { 
    // 2-column layout for mobile - the key fix
    width: 45%; // Almost half width for 2 columns
    float: left;
    padding: 0.5em; 
    margin: 0.25em;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    box-sizing: border-box;
    
    &:focus, &:hover, &:active { 
      color: $wvu-gold;
      border-color: $wvu-gold;
    }
    
    @include breakpoint(tablet){ 
      display: inline-block; 
      width: auto;
      float: none;
      border: none; // Remove all borders
      margin: 0;
      padding: 0 0 2px 0;
      text-decoration: none; // Explicitly remove text decoration
      border-bottom: 1px solid #fff; // Add ONLY bottom border
      
      &:hover, &:active { 
        color: $wvu-gold;
        border-bottom-color: $wvu-gold; // Only change bottom border color
      }
      
      &:focus { 
        outline: 2px dotted $wvu-gold; // Use outline instead of border for focus
        border-bottom: none; // Remove bottom border on focus
      }
    }
  }

  // Special styling for the last child link
  li:last-child a { 
    width: 92%; // Almost full width
    
    @include breakpoint(tablet){ 
      width: auto;
    }
  }
}