$flying-wv-w-signature: 'https://patterns.wvu.edu/images/flying-wv-w-signature.png' !default;
$flying-wv-w-signature-gold-bg: 'https://patterns.wvu.edu/images/flying-wv-w-signature-gold-bg.png' !default;
$flying-wv-w-signature-white-bg: 'https://patterns.wvu.edu/images/flying-wv-w-signature-white-bg.png' !default;
$flying-wv-w-sub-brand: 'https://patterns.wvu.edu/images/flying-wv-w-signature.png' !default;


.wvu-masthead { 
  background-color: $wvu-blue;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;

  .wvu-masthead__container { 
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0;
  }

  .wvu-masthead__logo { 
    background: url($flying-wv-w-signature) no-repeat left 30% transparent;
    text-align:center;
    background-position: center 30%; 
    background-size:300px auto; 
    position:relative; 
    @extend .col-12;
    @include media-breakpoint-up(md) {
      width: 50%; // equivalent to col-6
      flex: 0 0 50%;
    }

    @include media-breakpoint-up(lg){
      width: 33.333333%;  // Replace @extend .col-4
      flex: 0 0 33.333333%;
    }
  }

  .wvu-masthead__university-name{
    position: absolute;
    left: -99999em;
  }

  .wvu-masthead__title {
    display: inline-block;
    position: relative;
    padding-top:50px; 
    font-size: 1.2em;
    left:-2.4em;
    text-transform: uppercase;
    color:#fff;

    @include media-breakpoint-up(md){ 
      left:3em; 
    }
  }
}

.wvu-header-list {
  @extend .col-12; 
  text-align:right;

  @include media-breakpoint-up(md) {
    width: 50%; // equivalent to col-6
    flex: 0 0 50%;
  }

  @include media-breakpoint-up(lg){
    width: 66.666667%;  // Replace @extend .col-8
    flex: 0 0 66.666667%;
  }

  ul { 
    width:unset;
    margin-top:1em;
    list-style:none; 

    @include media-breakpoint-up(md){
      float:right;
    }
  } 

  li a { 
    width: 50%;  // Replace @extend .col-6
    flex: 0 0 50%;
    padding:.5em; 
    border:1px solid #fff;
    color:#fff;
    text-align:center;
    margin-top:.5em;
    font-size:14px;
    &:focus, &:hover, &:active { 
      color: $wvu-gold;
      border-color: $wvu-gold;
    }
    @include media-breakpoint-up(md){ 
      display:inline-block; 
      width:unset;
      float:left;
      border-color:transparent; 
      &:focus, &:hover, &:active { 
        color: $wvu-gold;
        border-color:transparent;
      }
      &:focus { 
        border: 2px dotted $wvu-gold; 
      }
    }
  }
  li { 
    @include media-breakpoint-up(md){ 
      display:inline-block; 
      width:unset;
      float:left;
    }
    &:last-child { 
      a { 
        width: 100%;  // Replace @extend .col-12
        flex: 0 0 100%;
        
        @include media-breakpoint-up(md){ 
          width:unset;
        }
      }
    }
  }
}