.alert {
  position: relative;
  @extend .alert;
  @extend .alert-primary;
}

.alert.notice {
  @extend .alert-info;
}

.alert.warning {
  @extend .alert-warning;
}

.alert.success {
  @extend .alert-success;
}

.alert.error {
  @extend .alert-danger;
}

.exit-alert {
  position: absolute;
  width: 2em;
  right: 0;
  font-size: 1.5em;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: none;
  &:hover, &:focus {
    cursor: pointer;
  }
}

.alert .content {
  @extend .col-12;
}
