.button, .btn {
  @include button_maker($link-color, 'solid');
  @include determine-text-color($link-color);
}


.authentication_links .admin-panel {
  -webkit-transform: none !important;
  transform: none !important;
  will-change: auto !important;
  
  &:active,
  &:hover,
  &:focus {
    -webkit-transform: none !important;
    transform: none !important;
    width: auto !important;
    float: none !important;
    margin: 0 !important;
    padding: 0.5em 1em !important;
  }
}

.signout { 
  @include button_maker($error, 'solid');
  color:#fff;
  text-decoration: none;
  &:hover, &:active, &:focus { 
    color:#fff;
  }
}

.login { 
  @include button_maker($success, 'solid');
  @include determine-text-color($success);
  text-decoration: none;
  &:hover, &:active, &:focus { 
    color:#000;
  }
}
