.button, .btn {
  @extend .btn;
  @extend .btn-primary;
}

.admin-panel {
  @extend .btn;
  @extend .btn-primary;
  text-decoration: none;
}

.signout {
  @extend .btn;
  @extend .btn-danger;
  text-decoration: none;
  &:hover, &:active, &:focus {
    color: #fff;
  }
}

.login {
  @extend .btn;
  @extend .btn-success;
  text-decoration: none;
  &:hover, &:active, &:focus {
    color: #000;
  }
}
