h2 {  
  width: 100%; 
  color: $wvu-blue; 
  border-bottom: 2px dotted rgba($wvu-blue, .3); 
  margin: 0;
  @extend .col-12;
}

.title-list { 
  list-style: none; 
  margin: 2em 0;
  @extend .col-12;

  li { 
    float: left; 
    margin-bottom: 1.5em;
    @extend .col-12;

    @include media-breakpoint-up(md) {
      width: 66.666667%;  // col-8 equivalent
      flex: 0 0 66.666667%;
    }
  }
}

.database-results { 
  @extend .col-12;
  margin: 0 0 2em;
  
  &:last-child { 
    margin: 0; 
  }

  p { 
    font-size: 0.8em; 
    letter-spacing: 1px; 
    margin-top: 0.5em; 
    max-width: 75em;
  }
}

.subject-group { 
  @extend .col-12;
  padding: 1em;

  h3 { 
    width: 100%; 
    font-weight: bold; 
    padding: 0;
    margin-bottom: 2px;
    border-bottom: 1px solid $light-gray;
  }

  ul {
    @extend .col-12;
  }

  @include media-breakpoint-up(md) {
    width: 50%;
    flex: 0 0 50%;
  }
}

$curated-bg: lighten($wvu-gold, 50%); 
$curated-dark: $wvu-blue;
.curated { 
  @extend .col-12;
  margin-top: 1em;
  padding: 1em; 
  background: $curated-bg; 
  border-radius: 0.5em;
  
  h3 { 
    color: $curated-dark; 
  }
}

.databases { 
  @extend .col-12;
  padding: 1em;

  @include media-breakpoint-up(md) {
    width: 66.666667%; // col-8 equivalent
    flex: 0 0 66.666667%;
  }
}

.left { 
  @extend .col-12;
  
  @include media-breakpoint-up(md) { 
    width: 66.666667%;
    flex: 0 0 66.666667%;
  }
}

.right { 
  @extend .col-12;

  @include media-breakpoint-up(md) { 
    width: 33.333333%;
    flex: 0 0 33.333333%;
  }
}

%database-type {
  @extend .col-12;
  width: 100%;
  border: 2px dotted $wvu-gold;
  padding: 1em;
  margin-bottom: 2em;

  .database-results { 
    width: 100%;
  }

  h2 { 
    margin-bottom: 1em; 
  }

  h3 { 
    font-size: 1.2em;
    margin-bottom: 1em;
  }

  p { 
    font-size: 0.8em; 
  }
}

.trial, .popular, .new_database { 
  @extend %database-type;
  
  h3:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f005";
    font-size: 1em;
  }
}

.open_access {
  @extend %database-type;
  
  h3:before {
    font-family: unset;
    content: '';
    background: asset-data-url("noun_unlock.svg");
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-right: -5px;
    display: inline-block;
    position: relative;
    top: 4px;
  }
}

.popular {
  display: none;
  
  @include media-breakpoint-up(md) {
    display: block;  
  }
}

h3.popular-title { 
  position: relative;
  &:before {  
font-family: 'Font Awesome 5 Free';
    content: "\f005";
    font-size:50%;
    color: #EAAA00; 
    top: -5px;
    position:relative;
  }
}

h3.open-title { 
  &:before {  
    font-family: unset; 
    content: '';
    background: asset-data-url("noun_unlock.png") no-repeat center center;
    background-image: asset-data-url("noun_unlock.svg");
    background-size: contain;
    width: 17px; 
    height: 17px;
    margin-right: -2px;
    display: inline-block;
    position: relative;
    top: -2px;
  }
}

.subject-headers { 
  @extend .col-12;
  position:relative; 
  border-bottom:2px dotted rgba($wvu-blue, .3); 

  h2 { 
    border-bottom:none; 
    @extend .col-12;
    margin-bottom:1em; 

    @include media-breakpoint-up(md){ 
      width: 66.666667%;
      flex: 0 0 66.666667%;
      margin-bottom:0;
    }
  }

  .guide { 
    @extend .col-12;
    text-align:right; 
    
    .btn {
      text-align: center; 
      margin-bottom:1em;
    }
    
    @include media-breakpoint-up(md){ 
      width: 33.333333%;
      flex: 0 0 33.333333%;
      
      .btn { 
        margin-top: -1em;
        margin-bottom:0;
      }
    }
  }
}

h2.search-results { 
  margin-bottom:1em;
}

// Bootstrap column width reference:
// col-12 = 100%
// col-8 = 66.666667%
// col-6 = 50%
// col-4 = 33.333333%
// col-3 = 25%