/* Footer */
footer.wvu-footer  {
  background-color: $wvu-blue;
  width:100%;
  color:#fff;
  font-size:12px;
  padding:1em;

  text-align: center; 
  @include media-breakpoint-up(md){ 
    text-align: left;
  }

  .wvu-container { 
    padding:1em; 
    @extend .col-12;

    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .wvu-contact, .lib-social-media, .wvu-credits, .wvu-icons { 
    @extend .col-12;
    @include media-breakpoint-up(md) {
      width: 50%; // equivalent to col-6
      flex: 0 0 50%;
    }
  }

  .lib-social-media { 
    text-align: center; 
    padding:2em 0;

    @include media-breakpoint-up(md){ 
      text-align:right;
    }

    ul { 
      list-style: none; 
      li {
        width: 40px;
        padding: 3px;
        display: inline-block;
      }

      li img {
        width: 30px;
        height: auto;
      }
    }
  }

  .wvu-credits { 
    ul { 
      list-style: none; 

      li { 
        display:inline; 
        padding-right:.5em; 
        &:before { 
          content: '|';
          padding-right: .5em;
        }

        &:first-child { 
          &:before { 
            content: ' ';
            padding-right:.5em;
          }
        }
      }
    }
  }

  .wvu-links { 
    list-style: none; 
    text-align: center;
    margin-top:10px; 

    li { 
      display:inline; 
      padding-right:.5em; 
    }

    @include media-breakpoint-up(md){ 
      text-align: right;
      margin-top: unset;
    }
  }
  
  .footerTitle {
    color: #EAAA00;
    font-size: 1.25em;
    letter-spacing: 1px;
  }

  a {
    color: #EAAA00;
  }
}