.app-header { 
    .container { 
      padding: 1em; // Reduced padding to match original height
    }
    
    h1, .authentication_links { 
      width: 100%;
      float: left;
      padding-left: 15px;
      padding-right: 15px;

      @include breakpoint(tablet){ 
        width: 50%;
      }

      margin-bottom:0; 
    }
    
    h1 {
      width: 100%;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;
      margin-bottom:0.5em; // Reduced margin
      font-size: 2.5em; // Increased font size to match original
 
      @include breakpoint(tablet){ 
        width: 50%;
        text-align: unset; 
        margin-bottom:0; 
      }

      a {
        color:#fff; 
        text-decoration: none; 
        border:none;
        &:hover, &:active { 
          text-decoration:underline; 
        } 
        &:focus { 
          border: 2px dotted $action-color;
        }
      }
    } 

    .authentication_links { 
      width: 100%;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      text-align: center; 

      @include breakpoint(tablet){ 
        width: 50%;
        text-align: right; 
      }

      a { 
        width: 50%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        @include breakpoint(tablet){ 
          width:unset; 
          float:unset;
        }
      }
    }

    background: asset_url("wise.jpg");
    background-size: cover;
    background-position: center center;
    background-color: #002855;
    min-height: 100px; // Reduced height to match original
    display: block;
    overflow: hidden;
    clear: both;
    position: relative;
    z-index: 1;
}