.app-header { 
    .container { 
      padding: 1em 0.5em; // Reduced vertical padding slightly
      display: flex;
      align-items: center;
      min-height: 80px; // Reduced minimum height
    }
    
    h1, .authentication_links { 
      width: 100%;
      float: left;
      padding-left: 8px;
      padding-right: 8px;

      @include breakpoint(tablet){ 
        width: 50%;
      }

      margin-bottom:0; 
    }
    
    h1 {
      width: 100%;
      float: left;
      padding-left: 8px;
      padding-right: 8px;
      text-align: left; // Changed from center to left
      margin-bottom: 0;
      margin-left: 24px; // Shift text right by 24px total (14px + 10px)
      font-size: 2.1em; // Reduced by 0.5em from 2.6em
      font-weight: normal;
      text-shadow: none; // Remove the black outline/shadow
 
      @include breakpoint(tablet){ 
        width: 50%;
        text-align: left; // Changed from center to left
        font-size: 2.3em; // Reduced by 0.5em from 2.8em
      }
      
      @include breakpoint(desktop){ 
        font-size: 2.5em; // Reduced by 0.5em from 3em
      }

      a {
        color:#fff; 
        text-decoration: none; 
        border:none;
        &:hover, &:active { 
          text-decoration:underline; 
        } 
        &:focus { 
          border: 2px dotted $action-color;
        }
      }
    } 

    .authentication_links { 
      width: 100%;
      float: left;
      padding-left: 8px;
      padding-right: 8px;
      text-align: center; 

      @include breakpoint(tablet){ 
        width: 50%;
        text-align: right; 
      }

      a { 
        width: 50%;
        float: left;
        padding-left: 8px;
        padding-right: 8px;
        @include breakpoint(tablet){ 
          width:unset; 
          float:unset;
        }
      }
    }

    background: asset_url("wise.jpg");
    background-size: cover;
    background-position: center center;
    background-color: #002855;
    min-height: 100px; // Reduced from 110px by just a tiny bit
    display: flex;
    align-items: center;
    justify-content: flex-start; // Changed from center to flex-start for left alignment
    overflow: hidden;
    clear: both;
    position: relative;
    z-index: 1;
}