.help {
  background: $light-gray;
  border-top: 3px solid darken($light-gray, 10%);
  font-size: 14px; 
  display: none; 
  
  @include media-breakpoint-up(xl) {
    display: block; 
  }
  
  .container { 
    @extend .col-12;
    padding: 2em; 
  }

  h2, p { 
    width: 100%;
    margin: 0 0 1em;
  }

  .help-box { 
    @extend .col-12;
    
    @include media-breakpoint-up(md) {
      width: 50%;
      flex: 0 0 50%;
    }

    @include media-breakpoint-up(xl) {
      width: 25%;  // col-3 equivalent
      flex: 0 0 25%;
    }
  }
}