.help {
  background:$light-gray;
  border-top: 3px solid darken($light-gray, 10%);
  font-size: 14px; 
  display:block; 
  font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-left: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  
  @include breakpoint(laptop){
    display:block; 
  }
  
  .container { 
    @include grid-column(12);
  }

  h2, p { 
    width:100%;
    margin:0 0 1em;
  }

  h2 {
  font-size: 2em; 
  font-weight: 100;
}

p{
  font-weight: 300;
  color: #000;
  line-height: 1.6;
}
  .help-box { 
    @include grid-column(12);
    @include breakpoint(tablet){ 
      @include grid-column(6);
    }
    @include breakpoint(laptop){
      @include grid-column(3); 
    }
  }
}