.help {
  background:$light-gray;
  border-top: 3px solid darken($light-gray, 10%);
  font-size: 14px; 
  display:none; 
  
  @include breakpoint(laptop){
    display:block; 
  }
  
  .container { 
    @include grid-column(12);
    padding: 0; 
  }

  h2, p { 
    width:100%;
    margin:0 0 1em;
  }

  .help-box { 
    @include grid-column(12);
    @include breakpoint(tablet){ 
      @include grid-column(6);
    }
    @include breakpoint(laptop){
      @include grid-column(3); 
    }
  }
}