// base link colors
@include link_maker($link-color, $link-color, darken($link-color, 20%), lighten($link-color, 20%));

a:focus { 
  outline: none !important;
  text-decoration: none !important;
}

a {
  -webkit-tap-highlight-color: transparent;
  
  &:focus:not(:focus-visible) {
    outline: none;
  }
}