nav.home-page,
nav.inner-page {
  background: $nav-bg !important;
  min-height: 40px !important;
  padding: 10px 0 !important;
  margin-bottom: 1em !important;

  @media (max-width: 767px) {
    display: none;
  }

  @include breakpoint(laptop) {
    display: block;
  }

  ul {
    margin: 0 auto !important;
    padding: 0 !important;
    list-style: none;
    max-width: 1140px; 
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    box-sizing: border-box;

    &:after {
      clear: both;
      content: "";
      display: table;
    }
  }

  li {
    display: inline-block;
  }

  .nav-search {
    margin-left: auto;
    padding-left: 15px !important;
    padding-right: 15px !important;
    box-sizing: border-box;

    &:after {
      clear: both;
      content: "";
      display: table;
    }
  }
}

@media (max-width: 767px) {
  nav.home-page,
  nav.inner-page {
    display: none;
  }
}
