nav {
  background: $nav-bg;
  margin-top: 0 !important;
  padding-top: 0 !important;
  border-top: 0 !important;
  
  ul { 
    list-style:none; 
    margin:0; 
    padding:10px;
    
    li { 
      font-size:1.05em;  
      display:inline-block; 
      padding:0 10px;
      a { 
        text-decoration:none; 
        span { 
          color: $wvu-gold;
        }
      }
    }
  }
}

nav.home-page { 
  ul {
    @extend .col-12;
  }
}

nav.inner-page { 
  ul { 
    @extend .col-8;
  }
  .nav-search { 
    @extend .col-4;
  }
}

nav.inner-page, nav.home-page { 
  display:none; 
  @include media-breakpoint-up(xl){
    display:block;
  }
}

// Adjust display properties to ensure no gap
.wvu-masthead + nav,
.app-header + nav {
  margin-top: 0 !important;
  padding-top: 0 !important;
  border-top: 0 !important;
}
