nav.home-page,
nav.inner-page {
  background: $nav-bg !important;
  min-height: 40px !important;
  padding: 10px 0 !important;
  margin-bottom: 1em !important;

  @media (max-width: 767px) {
    display: none;
  }

  @include breakpoint(laptop) {
    display: block;
  }

  ul {
    list-style: none;
    margin: 0 auto !important;
    padding: 0 0 0 30px !important;
    max-width: 1140px; 
    position: relative;
    left: 0 !important;
    box-sizing: border-box;

    &:after {
      clear: both;
      content: "";
      display: table;
    }

    li {
      font-size: 1.05em;
      display: inline-block;
      padding: 0 10px;

      a {
        text-decoration: none;

        span {
          color: $wvu-gold;
        }
      }
    }
  }

  .nav-search {
    float: right !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    box-sizing: border-box;
  }
}
