.utility { 
  @extend .col-12; 
  width: 100%; 
  margin: 0;
  margin-bottom: 2em; 

  .breadcrumbs { 
    @extend .col-12;

    @include media-breakpoint-up(md) { 
      width: 50%;
      flex: 0 0 50%;
      margin-left: 0;
    }

    @include media-breakpoint-up(xl) {
      width: 66.666667%; // col-8 equivalent
      flex: 0 0 66.666667%;
      margin-left: 0;
    }
  }

  .results { 
    padding: 1em 0;
    @extend .col-12;
    display: none;

    @include media-breakpoint-up(md) { 
      display: block;
      text-align: right;
      width: 50%;
      flex: 0 0 50%;
    }
  }
}