<% if current_page?('/') %>
  <nav class="home-page" aria-label="Main Navigation">
<% else %>
  <nav class="inner-page" aria-label="Main Navigation"> 
<% end %>
  <div class="container"> 
    <ul>
      <li> 
        <a href="/"> 
          <span class='fa fa-home'></span> 
        </a> 
      </li>
      <li>
        <a href="/subjects/">
          <span class="fas fa-sort-amount-up"></span>
          Database Subjects
        </a>
      </li>
      <li>
        <a href="/AtoZ/">
          <span class="fas fa-sort-alpha-up"></span>
          Database Titles
        </a>
      </li>
      <li>
        <a href="/#help">
          <span class="fa fa-question-circle"></span>
          Database Help
        </a>
      </li>
    </ul>

    <% unless current_page?('/') %>
      <div class="nav-search">
        <%= render partial: 'public/search/search_bar', locals: {unique_id: 'desktop-search'} %>
      </div>
    <% end %>
  </div>
</nav>