.app-header { 
    .container { padding:1em 2em; }
    h1, .authentication_links { 
      @include grid-column(12); 

      @include breakpoint(tablet){ 
        @include grid-column(6); 
      }

      margin-bottom:0; 
    }
    
    h1 {
      @include grid-column(12); 
      text-align: center;
      margin-bottom:1em;
 

      @include breakpoint(tablet){ 
        @include grid-column(6); 
        text-align: unset; 
        margin-bottom:0; 
      }

      a {
        color:#fff; 
        text-decoration: none; 
        border:none;
        &:hover, &:active { 
          text-decoration:underline; 
        } 
        &:focus { 
          border: 2px dotted $action-color;
        }
      }
    } 

    .authentication_links { 
      @include grid-column(12);
      text-align: center; 

      @include breakpoint(tablet){ 
        @include grid-column(6);
        text-align: right; 
      }

      a { 
        @include grid-column(6); 
        @include breakpoint(tablet){ 
          width:unset; 
          float:unset;
        }
      }
    }

    background: asset_url("wise.jpg");
    background-size: cover;
    background-position: center center;
    background-color: #002855;
    height: auto;
    display: block;
    overflow: hidden;
}