.pagination { 
  background:unset; 
  @include grid-column(12);
  text-align: center;
  margin-top: 2em; 

  span { 
    margin:0; 
    display: inline;
  }

  a { 
    border: 2px solid $light-gray;
    padding: 10px;
    &:active,&:focus, &:hover { 
      background:$light-gray;
      border-color: $link-color; 
    }
  }

  .current { 
    a { 
      border: 2px solid darken($link-color,10%);
      background:$link-color;
      @include determine-text-color($link-color); 

      &:active,&:focus, &:hover { 
        background:rgba($link-color, .3);
        color: $black; 
      }
    }
  }

}