.skip-nav {
  position: absolute;
  z-index: 10;
  padding: 0.5em;
  left: -99999em;
  color: contrast(#fff, $link-color, darken($link-color, 50%));
  background: #fff;

  &:focus {
    left: 0;
    color: $action-color; 
    border:4px dotted $action-color;
    background: #fff;
  }
}