# -----------------------------------------------------------------
# -----------------------------------------------------------------
# INSTANCE CONFIGURATIONS 
# -----------------------------------------------------------------
# -----------------------------------------------------------------
# This file is intended for your use case variables.  Do not put 
# application secrets, passwords, or other sensitive information 
# in this file.  If you intend on using this file for sensitive 
# data then alter the gitignore to be sure it stays out of your 
# source control.  
# -----------------------------------------------------------------
# -----------------------------------------------------------------

# GLOBAL CONFIGURATIONS
# -----------------------------------------------------------------
# Timezone
time_zone: 'Eastern Time (US & Canada)'

# Feedback / Email Resource Accounts
reporting_email: 'eresources@mail.wvu.edu'
  
# Default values for databases
help_text:  'Ask a Librarian'
help_url: 'http://westvirginia.libanswers.com/'

# IP Rangs
campus_ip: '157.182.0.0/16' # in subnet shorthand notation 

# Proxy URL for off campus Databases
proxy_url: 'http://www.libproxy.wvu.edu/login?url=' 

# Google Analytics 
google_analytics_key: "UA-35722661-5"

# DEVELOPMENT ENVIRONMENT SPECIFIC 
# -----------------------------------------------------------------
production:
  cas_url: 'https://sso.wvu.edu/cas/' 
  ssl: 'true' 
  ELASTICSEARCH_URL: 'http://elasticsearch:9200'
development:
  cas_url: https://ssodev.wvu.edu/cas/
  ELASTICSEARCH_URL: 'http://elasticsearch:9200'
  ssl: 'false'
  google_analytics_key: ~ #nullifies for dev
test:
  ssl: 'false'
  google_analytics_key: ~ #nullifies for test
  # ELASTICSEARCH_URL: 'http://elasticsearch:9200' # for local comment out for circle ci