.four-col { 
  @extend .col-12;

  @include media-breakpoint-up(md) {
    width: 50%; // col-6 equivalent
    flex: 0 0 50%;
  }

  @include media-breakpoint-up(xl) {
    width: 25%; // col-3 equivalent
    flex: 0 0 25%;
  }
}

.database-show {
  h3, p, .container { 
    margin-bottom: 1em; 
  }

  h3 { 
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
  }

  .datestamp { 
    @extend .micro-text;
    text-align: left;
    display: inline; 
    width: unset; 
    padding: 0;
  }
}