

$font-color:#666; 
$input-bg: #eee; 
$input-border: #666;
$label-color:$font-color; 
$fieldset:#666; 
$borders: 1px solid $input-border; 

.search-filter { 
  @extend .col-12;
  margin-bottom:2em;

  .warning { 
    color: $warning; 
  }

  label, .heading { 
    @extend .col-12;
    margin-bottom:10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:$font-color;
    position: relative;
    
    &.required { 
      &:after { 
        content: "*";
        color: $error;
        font-size:2.2em;
        position: absolute; 
        top:-7px; 
        padding-left:5px;
        font-weight:100;
      }
    }
  }

  input:not([type='submit']){
    @extend .col-12;
    height:60px;
    padding:1.25em; 
    border:none;
    background:$input-bg;
    font-weight:500;
    letter-spacing: 1px;
    @include transition(
      color 0.6s $easeOutExpo, 
      border 0.6s $easeOutExpo, 
      background 0.6s $easeOutExpo
    );

    border: 2px solid darken($input-bg,10%);
    &:focus, &:hover { 
      border: 2px solid $link-color;
      background: lighten($input-bg,2%);
    }

    &::placeholder { 
      color:darken($input-bg,20%);
    }
  } 
}