main { 
  @extend .col-12;
  margin-bottom: 1em; 

  .content-zone { 
    @extend .col-12; 

    @include media-breakpoint-up(lg){ 
      width: 83.333333%;  // col-10
      flex: 0 0 83.333333%;
      margin-left: 8.333333%; // offset-1
    }

    @media (min-width: 1800px){ 
      width: 75%;  // col-9
      flex: 0 0 75%;
      margin-left: 12.5%; // offset-1.5
    }

    @media (min-width: 2000px){ 
      width: 66.666667%;  // col-8 
      flex: 0 0 66.666667%;
      margin-left: 16.666667%; // offset-2
    }
  }
}