<div class="ask" role="banner" aria-label="ask a library interactive chat button" tab-index="0">
  <a href="http://westvirginia.libanswers.com/">
    <span class="fa fa-comment"> </span>
    <span> Ask a Librarian </span>
  </a>
</div>