
<div class="help">
  <a name="help"></a> 
  <div class="container"> 
    <h2>Help with Databases</h2>

    <p> Most databases are available off-campus to current WVU-Morgantown students, faculty and
      staff. Licensing restrictions prevent WVU Libraries from providing off-campus access to
      others. Your affiliation with WVU is verified through use of WVU Login. You will be
      prompted to enter this when you choose a database from the menu. For assistance with
      WVU Login, please view the Information Technology Services (ITS) help page at:
      <a href="https://wvu.atlassian.net/servicedesk/customer/article/1814888458">wvu.atlassian.net/servicedesk/</a>. There you can find help on activating your
      account or changing your password.
    </p>

    <p> If you need assistance with database selection or searching please contact us via <a href="http://westvirginia.libanswers.com/">Ask a Librarian</a>.</p>

    <p> If you are having a problem with a database or online resource, please submit an <a href="/report"> eResource Error Report</a>.</p>
    
  </div>
</div>


