<nav>
  <div class="container"> 
    <ul>
      <li> 
        <a href="/"> 
          <span class='fa fa-home'></span> 
          Home
        </a> 
      </li>
      <li>
        <a href="/databases/subjects/">
          <span class="fas fa-sort-amount-up"></span>
          Database Subjects
        </a>
      </li>
      <li>
        <a href="/databases/AtoZ/">
          <span class="fas fa-sort-alpha-up"></span>
          Database Titles
        </a>
      </li>
      <li>
        <a href="#help">
          <span class="fa fa-question-circle"></span>
          Database Help
        </a>
      </li>
    </ul>
  </div>
</nav>