  <section class="popular" aria-label="New or Pouplar Databases"> 
    <h2> Popular </h2>
    <% @popular.each do |db| %>
      <div class="database-results"> 
        <%= DatabaseDecorator.new(db).display_title %>
        <p> <%= db.description.truncate(150) %> </p>
      </div>
    <% end %>
  </section>