  <section class="popular"> 
    <h2> Popular </h2>
    <% @popular.each do |db| %>
      <div class="database-results"> 
        <h3> <%= db.name %> </h3>
        <p> <%= db.description %> </p>
      </div>
    <% end %>
  </section>