<form action="/search" class="search-bar">          
  <label for="<%= unique_id %>" class="visually-hidden"> 
    Search Databases
  </label>
  
  <input type="search" name="query" title="Search Query" placeholder="Search Databases... " class="search-field" id="<%= unique_id %>">
  
  <button class="search-button button">
    <span class="fa fa-search"></span> 
    <span class="visually-hidden"> Search </span>
  </button>
</form>