
$flying-wv-w-signature: 'https://patterns.wvu.edu/images/flying-wv-w-signature.png' !default;
$flying-wv-w-signature-gold-bg: 'https://patterns.wvu.edu/images/flying-wv-w-signature-gold-bg.png' !default;
$flying-wv-w-signature-white-bg: 'https://patterns.wvu.edu/images/flying-wv-w-signature-white-bg.png' !default;
$flying-wv-w-sub-brand: 'https://patterns.wvu.edu/images/flying-wv-w-signature.png' !default;


.wvu-masthead { 
  background-color: $wvu-blue;
  color:#fff;  

  .wvu-masthead__container { 
    @extend .container;
    padding:1em;
  }

  .wvu-masthead__logo { 
    background: url($flying-wv-w-signature) no-repeat left 30% transparent;
    // background-size:100% auto;
    // padding: 0px 0px 20px 54px;
    @include grid-column(12);
    text-align:center;
    background-position: center 30%; 
    background-size:300px auto; 
    position:relative; 
    @include breakpoint(tablet){ 
      @include grid-column(6);
      background-position: left 30%;
      text-align:left;
    }

    @include breakpoint(desktop){
      @include grid-column(4);
    }
  }

  .wvu-masthead__university-name{
    position: absolute;
    left: -99999em;
  }

  .wvu-masthead__title {
    display: inline-block;
    position: relative;
    padding-top:50px; 
    font-size: 1.2em;
    left:-2.4em;
    text-transform: uppercase;
    color:#fff;

    @include breakpoint(tablet){ 
      left:3em; 
    }
  }
}

.wvu-header-list {
  @include grid-column(12); 
  text-align:right;

  @include breakpoint(tablet){
    @include grid-column(6);
  }

  @include breakpoint(desktop){
    @include grid-column(8);
  }

  ul { 
    width:unset;
    margin-top:1em;
    list-style:none; 

    @include breakpoint(tablet){
      float:right;
    }
  } 

  li a { 
    @include grid-column(6);
    padding:.5em; 
    border:1px solid #fff;
    color:#fff;
    text-align:center;
    margin-top:.5em;
    font-size:14px;
    &:focus, &:hover, &:active { 
      color: $wvu-gold;
      border-color: $wvu-gold;
    }
    @include breakpoint(tablet){ 
      display:inline-block; 
      width:unset;
      float:left;
      border-color:transparent; 
      &:focus, &:hover, &:active { 
        color: $wvu-gold;
        border-color:transparent;
      }
      &:focus { 
        border: 2px dotted $wvu-gold; 
      }
    }
  }
  li { 
    @include breakpoint(tablet){ 
      display:inline-block; 
      width:unset;
      float:left;
    }
    &:last-child { 
      a { 
        @include grid-column(12); 
        
        @include breakpoint(tablet){ 
          width:unset;
        }
      }
    }
  }
}