.menu-button { 
  @include button_maker($action-color, 'ghost');
  color: $action-color;
  &:hover,&:active,&:focus { 
    background-color: transparent; 
    border-color: #fff; 
    color: #fff;
  }
}

.github-button { 
  @include button_maker($action-color, 'ghost');
  color: $action-color;
  text-decoration: none;

  @include grid-column(12);
  text-align: center;
  margin:1em 0;

  @include breakpoint(tablet){
    @include grid-column(4);
  }
}

.bug-button { 
  @include button_maker($error, 'ghost');
  color: $error;
}

.feature-button  {
  @include button_maker($warning, 'ghost');
  color: $warning;
}

.show-button {
  @include button_maker($success, 'solid');
  color:#fff;
}

.edit-button {
  @include button_maker($warning, 'solid');
  color:#fff;
}

.delete-button {
  @include button_maker($error, 'solid');
  color:#fff;
}

.submit-button{
  @include button_maker($success, 'solid');
  text-decoration: underline;
  @include determine-text-color($success);
  &:hover,&:active, &:visited { 
    @include determine-text-color($success);
  }
}

input[type="submit"], input[type="reset"]{
  position:relative; 
  height:44px; 
  top:-1px; 
  @extend .submit-button;
}

.cancel-button {
  @include button_maker(darken($default,20%), 'solid');
  @include determine-text-color(darken($default,20%));
  &:hover,&:active, &:visited { 
    @include determine-text-color(darken($default,20%));
  }
}

.new-button {
  @include button_maker($action-color, 'solid');
  @include determine-text-color($action-color);
}

