.library_credit_line {
  background-color: darken($blue, 10%); // Direct background color
  padding: 10px 0;
  font-size: 10px;
  clear: both;
  
  /* Force truly full-width */
  width: 100vw; /* Viewport width */
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  box-sizing: border-box;
  max-width: none; // Override any max-width
  
  .container {
    @include grid-container;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 30px; // Increase side padding from 15px to 30px
    
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .builtBy {
    float: right;
    color: $gray-text;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: right;
    padding-right: 15px; // Add right padding
  }

  .built, .by { font-weight: 300; }
  .wvu { color: $gold; }
  .libs { color: #fff; margin-left: -4px; }
}