.filter-results{
  @extend .col-12; 
  margin-top:1em;   
  margin-bottom:1em;
}

.filter-date-select{
  @extend .col-12; 
  @include media-breakpoint-up(md){ 
    width: 33.333333%; // col-4 equivalent
    flex: 0 0 33.333333%;
  }
}

.filter-actions, .csv-export { 
  @extend .col-12; 
  padding-top: 5px;
  @include media-breakpoint-up(md){ 
    width: 33.333333%; // col-4 equivalent
    flex: 0 0 33.333333%;
    padding-top: 30px;
  }
}